<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sistema</title>
<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->
        <!-- start: GOOGLE FONTS -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <!-- end: GOOGLE FONTS -->
        <!-- start: MAIN CSS -->
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="vendor/themify-icons/themify-icons.min.css">
        <link href="vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
        <link href="vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
        <link href="vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
        <!-- end: MAIN CSS -->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <link href="vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
        <link href="vendor/select2/select2.min.css" rel="stylesheet" media="screen">
        <link href="vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
        <link href="vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/plugins.css">
        <link rel="stylesheet" href="assets/css/themes/theme-1.css" id="skin_color" />

    </head>
    <!-- end: HEAD -->
    <body>
        <div id="app">
    <!-- sidebar -->
    <div class="sidebar app-aside" id="sidebar">
        <div class="sidebar-container perfect-scrollbar">
            <nav>
                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                    <span>Menu</span>
                </div>
                <ul class="main-navigation-menu">
                    <li class="active open">
                        <a href="/home">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Inicio </span></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/verhorasdetrabajo">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-package"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Horas de trabajo </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/adminusuarios">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-menu-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Administrador de Usuarios </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="maps.html">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Administrador </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
                <!-- start: DOCUMENTATION BUTTON -->
                <div class="wrapper">
                    <a href="documentation.html" class="button-o">
                        <i class="ti-help"></i>
                        <span>Documentation</span>
                    </a>
                </div>
                <!-- end: DOCUMENTATION BUTTON -->
            </nav>
        </div>
    </div>
    <!-- / sidebar -->
    <div class="app-content">
        <!-- start: TOP NAVBAR -->
        <header class="navbar navbar-default navbar-static-top">
            <!-- start: NAVBAR HEADER -->
            <div class="navbar-header">
                <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg"
                   class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app"
                   data-toggle-click-outside="#sidebar">
                    <i class="ti-align-justify"></i>
                </a>
                <a class="navbar-brand" href="#">
                    <h2 style="margin-top:30px">Sistema </h2>
                </a>
                <a href="#" class="sidebar-toggler pull-right visible-md visible-lg"
                   data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                    <i class="ti-align-justify"></i>
                </a>
                <!--<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse"
                   href=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="ti-view-grid"></i>
                </a>->
            </div>
            <!-- end: NAVBAR HEADER -->
            <!-- start: NAVBAR COLLAPSE -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-right">
                    <!-- start: USER OPTIONS DROPDOWN -->
                    <li class="dropdown current-user">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                           <span class="username"><label  id="displayname"></label><i
                                class="ti-angle-down"></i></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-dark">
                            <li >
                                <a onclick="logout()">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: USER OPTIONS DROPDOWN -->
                </ul>
                <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                    <div class="arrow-left"></div>
                    <div class="arrow-right"></div>
                </div>
                <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
            </div>
            <a class="dropdown-off-sidebar" class="app-offsidebar-open" onclick="logout()">
                &nbsp;
            </a>
            <!-- end: NAVBAR COLLAPSE -->
        </header>
        <!-- end: TOP NAVBAR -->
        <div class="main-content">
            <div class="wrap-content container" id="container">
                <!-- start: PAGE TITLE -->
                <section id="page-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="mainTitle">Agrega horas de trabajo por día</h1>
                        </div>
                    </div>
                
                        <div class="container-fluid container-fullw">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-white no-radius">
                                        <div class="panel-body">
                                        <form id="hora" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h5 class="text-bold margin-top-25 margin-bottom-15">Hora de llegada</h5>
                                                    <div class="form-group">
                                                        <input type="entrytime" id="timepicker-default" name="entrytime" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h5 class="text-bold margin-top-25 margin-bottom-15">Hora de salida</h5>
                                                    <div class="form-group">
                                                        <input type="departuretime" id="timepicker-default1" name="departuretime" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="checkbox clip-check check-success checkbox-inline margin-top-25 margin-bottom-15" style="padding-top:50px">
                                                   <div class="form-group">
                                                        <input type="checkbox" id="checkbox11" name="horapref" value="1">
                                                        <label for="checkbox11">
                                                            Horas de trabajo preferidas
                                                        </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                               <div class="panel panel-white">
                                              
                                                    <div class="form-group">
                                                        <textarea class="form-control autosize" id="description"  name="description" placeholder="Nota"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-wide pull-right" type="submit">
                                                    Register <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                        </form>         
                                        </div>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: DATE/TIME Picker -->
</section>
                    </div>
                </div>
            </div>
            <!-- start: FOOTER -->
            <footer>
                <div class="footer-inner">
                    <div class="pull-left">
                        &copy; <span class="current-year"></span><span class="text-bold text-uppercase"></span>. <span>All rights reserved</span>
                    </div>
                    <div class="pull-right">
                        <span class="go-top"><i class="ti-angle-up"></i></span>
                    </div>
                </div>
            </footer>
            <!-- end: FOOTER -->
            
        </div>
        <!-- start: MAIN JAVASCRIPTS -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/modernizr/modernizr.js"></script>
        <script src="vendor/jquery-cookie/jquery.cookie.js"></script>
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="vendor/switchery/switchery.min.js"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="vendor/maskedinput/jquery.maskedinput.min.js"></script>
        <script src="vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="vendor/autosize/autosize.min.js"></script>
        <script src="vendor/selectFx/classie.js"></script>
        <script src="vendor/selectFx/selectFx.js"></script>
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="assets/js/main.js"></script>
        <!-- start: JavaScript Event Handlers for this page -->
        <script src="assets/js/form-elements.js"></script>
        <script>
             jQuery(document).ready(function() {
                Main.init();
                FormElements.init();
                $("#displayname").html(localStorage.name);
            })

$('#hora').on('submit', function(e){
                e.preventDefault();
                
                let entrytime = $('#timepicker-default');
                let departuretime = $('#timepicker-default1');
                let description = $('#description');
                let horapref = $('input:checkbox[name=horapref]:checked');
                let userid = localStorage.userid;

                $.ajax({
                url: '/api/hour',
                method: 'POST',
                beforeSend: function ( xhr ) {
                xhr.setRequestHeader('authorization', `Bearer `+ localStorage.token);
                },
                data: {
                    entrytime: entrytime.val(),
                    departuretime: departuretime.val(),
                    horapref: horapref.val(),
                    description: description.val(),
                    userid: userid,
                },
                success: function(response){
                    alert("Se registro con exito.");
                    console.log(response);
                    
                }

                })
             });

            function logout(){
                 localStorage.removeItem('token', localStorage.token)
                 location.href="/login";
            }
        </script>
        <!-- end: JavaScript Event Handlers for this page -->
     </dody>
</html>
